<div class="bg-secondary p-10">
  <div class="container grid grid-cols-6 gap-1 mx-auto">
    <img
      class="w-1/2 m-auto"
      src="assets/images/companies/airbnb.png"
      alt="airbnb"
    />
    <img
      class="w-1/2 m-auto"
      src="assets/images/companies/amazon.png"
      alt="amazon"
    />
    <img
      class="w-1/3 m-auto"
      src="assets/images/companies/ebay.png"
      alt="ebay"
    />
    <img
      class="w-1/3 m-auto"
      src="assets/images/companies/uber.png"
      alt="uber"
    />
    <img
      class="w-1/2 m-auto"
      src="assets/images/companies/slack.png"
      alt="slack"
    />
    <img
      class="w-1/2 m-auto"
      src="assets/images/companies/walmart.png"
      alt="walmart"
    />
  </div>
</div>
