<main>
  <div class="bg-primary/5 pb-16">
    <app-header></app-header>
    <div class="container mx-auto mt-32">
      <div class="flex items-end">
        <div class="w-2/3">
          <div class="bg-primary/10 text-primary w-fit px-3 py-2 rounded-lg">
            Best platform Cryptocurrency
          </div>
          <h1 class="text-7xl my-8">
            Embrace the Future <br />
            Currency of Our Time
          </h1>
        </div>
        <div class="w-1/3 mb-2">
          <app-card-chart
            [type]="'horizontal'"
            [crypto]="{
              icon: 'simpleTether',
              name: 'Tether',
              color: '#51ad94',
              code: 'USDT'
            }"
            [graph]="{
              type: 'down',
              percent: 180,
              value: 12715
            }"
          ></app-card-chart>
        </div>
      </div>
      <div class="flex">
        <div class="w-2/5">
          <p class="text-slate-500 text-xl">
            Embrace the surge of new digital currencies with flexibility and
            innovation to navigate the global market's complexitied
          </p>
          <div class="flex gap-3 my-8">
            <div>
              <button
                class="bg-primary border border-primary hover:bg-secondary text-white px-6 py-2.5 rounded-lg"
              >
                Trade Now
              </button>
            </div>

            <button
              class="bg-white border hover:bg-slate-100 active:bg-slate-200 text-slate-600 px-6 py-2.5 rounded-lg flex items-center"
            >
              <span class="block mr-1">Watch Demo</span>
              <ng-icon size="20" name="hugePlayCircle"></ng-icon>
            </button>
          </div>
          <ul>
            <li class="flex items-center mb-3">
              <ng-icon
                size="25"
                name="heroCheckCircleSolid"
                class="mr-1 text-secondary"
              ></ng-icon>
              <span class="block mr-1 text-secondary text-lg"
                >Transactions are secure and encrypted</span
              >
            </li>
            <li class="flex items-center">
              <ng-icon
                size="25"
                name="heroCheckCircleSolid"
                class="mr-1 text-secondary"
              ></ng-icon>
              <span class="block mr-1 text-secondary text-lg"
                >Solutions for Using Currency Without Banks</span
              >
            </li>
          </ul>
        </div>
        <div class="w-3/5 columns-2 gap-5 pl-5">
          <app-card-portfolio class="w-1/2"></app-card-portfolio>
          <app-card-chart
            class="w-1/2"
            [type]="'vertical'"
            [crypto]="{
              icon: 'simpleBitcoinsv',
              name: 'Bitcoin',
              color: '#f7931a',
              code: 'BTC'
            }"
            [graph]="{
              type: 'up',
              percent: 24,
              value: 57326
            }"
          ></app-card-chart>
        </div>
      </div>
    </div>
  </div>
  <app-companies></app-companies>
  <div class="container mx-auto">
    <h2 class="text-center text-3xl mt-20 mb-14">
      Exploring Hottest Coin Trend
    </h2>
    <app-table-trends></app-table-trends>
  </div>
  <div class="bg-gray/10 py-20">
    <div class="container mx-auto">
      <div class="grid items-center grid-cols-2 mb-10">
        <h2 class="text-5xl mr-3">Reasons to Choose Cryptocurrency from Us</h2>
        <p class="text-slate-500 text-lg">
          Embrace the surge of new digital currencies with flexibility and
          innovation to navigate the global market's complexitied
        </p>
      </div>
      <div class="grid grid-cols-3 gap-5">
        <app-card-reason
          [icon]="'saxCoin1Outline'"
          [title]="'New Market Opportunities'"
          [description]="
            'Access to various types of crypto assets and new markets that are not yet available.'
          "
        ></app-card-reason>
        <app-card-reason
          [icon]="'saxShieldTickOutline'"
          [title]="'Security trust are top priority'"
          [description]="
            'Building an environtment that is safe, stable and allows for sustainable growth and cooperation.'
          "
        ></app-card-reason>
        <app-card-reason
          [icon]="'saxDollarCircleOutline'"
          [title]="'Investment with small capital'"
          [description]="
            'Can optimize the use of their limited capital and achieve greater financial goals.'
          "
        ></app-card-reason>
      </div>
    </div>
  </div>

  <div class="bg-white py-20">
    <div class="container mx-auto w-full grid grid-cols-2">
      <div class="bg-gray/10 p-10 rounded-xl">
        <app-card-order></app-card-order>
      </div>
      <div class="self-center ml-14">
        <h2 class="text-3xl">Advanced Order Types for Enhanced</h2>
        <p class="text-slate-500 text-lg my-5">
          Embrace the surge of new digital currencies with flexibility and
          innovation to navigate the global market's complexitied
        </p>
        <button
          class="bg-primary border border-primary hover:bg-secondary text-white px-6 py-2.5 rounded-lg"
        >
          Explore More
        </button>
      </div>
    </div>
  </div>
  <div class="bg-white py-20">
    <div class="container mx-auto w-full grid grid-cols-2">
      <div class="self-center mr-14">
        <h2 class="text-3xl">
          Technical Chart to Predict Cryptocurrency Movements
        </h2>
        <p class="text-slate-500 text-lg my-5">
          Accurate price predictions with in-depth chart analysis. Comprehensive
          technical charts reveal hidden patterns, identify trends, and
          anticipate price changes.
        </p>
        <button
          class="bg-primary border border-primary hover:bg-secondary text-white px-6 py-2.5 rounded-lg"
        >
          Explore More
        </button>
      </div>
      <div class="bg-gray/10 p-10 rounded-xl">
        <app-card-movement></app-card-movement>
      </div>
    </div>
  </div>
  <div class="bg-white py-20">
    <div class="container mx-auto grid grid-cols-2">
      <div
        class="w-full h-fit rounded-lg bg-[center_top_-6rem] bg-no-repeat bg-cover bg-[url('/assets/images/bg.jpg')]"
      >
        <app-card-trade></app-card-trade>
      </div>
      <div class="self-center ml-14">
        <h2 class="text-5xl">Building the Future of Decentralized Finance</h2>
        <p class="text-slate-500 text-lg my-5">
          We are commited to creating a more inclusive, transparent and
          sustainable financial ecosystem. This step is not only about changing
          the way we transact, but also about redefining the meaning of
          financial freedom and empowering individuals to manage their financial
          future independently.
        </p>
        <div class="mt-20 grid grid-cols-4 gap-10">
          <div class="col-span-2">
            <h2 class="text-5xl mb-3">500K+</h2>
            <h6 class="text-slate-500 text-xl">User Active</h6>
          </div>
          <div class="col-span-2">
            <h2 class="text-5xl mb-3">900+</h2>
            <h6 class="text-slate-500 text-xl">Total Assets</h6>
          </div>
          <div class="col-span-2">
            <h2 class="text-5xl mb-3">250+</h2>
            <h6 class="text-slate-500 text-xl">Strategic Partnership</h6>
          </div>
          <div class="col-span-2">
            <h2 class="text-5xl mb-3">1.2M+</h2>
            <h6 class="text-slate-500 text-xl">Daily Transaction Volume</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray/10 py-20">
    <div class="container mx-auto">
      <div class="grid items-center grid-cols-2 mb-10">
        <h2 class="text-5xl mr-3">
          The Latest Information and Latest Insights from us
        </h2>
        <p class="text-slate-500 text-lg">
          We are ready to provide you with latest knowledge that can enrich your
          understanding.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-7">
        <app-card-information
          category="Most Popular Crypto"
          title="Decentralized Finance Changing the Way We Interact with Traditional
        Finance"
          image="finance.jpg"
        ></app-card-information>
        <app-card-information
          category="Blockchain Technology"
          title="Key Foundations Behind Cryptocurrencies and Their Potential"
          image="company.webp"
        ></app-card-information>
        <app-card-information
          category="Most Popular Crypto"
          title="Ethereum: More Than Just a Coin, It's a Paradigm-Changing Platform"
          image="ethereum.jpg"
        ></app-card-information>
        <app-card-information
          category="Crypto Education and Literacy"
          title="Why Crypto Education is Important and How to Get Started for the Wider Society"
          image="crypto-book.jpg"
        ></app-card-information>
      </div>
    </div>
  </div>
  <div
    class="bg-pattern p-14 container mx-auto my-20 rounded-2xl overflow-hidden"
  >
    <div class="text-center">
      <h2
        class="text-5xl mb-4 mx-auto text-white w-fit bg-secondary shadow-[0px_0px_100px_100px_rgba(0,68,66,1)]"
      >
        Take Control of Your Finances
      </h2>
      <p
        class="text-white text-lg font-light mx-auto w-fit bg-secondary shadow-[0px_0px_100px_100px_rgba(0,68,66,1)]"
      >
        Make wise decisions today. Click to start your crypto investment <br />
        and start building a better future.
      </p>
      <button
        class="bg-white mx-auto mt-10 hover:bg-slate-100 active:bg-slate-200 text-secondary px-6 py-2.5 rounded-lg flex items-center"
      >
        Watch Demo
      </button>
    </div>
  </div>
  <div class="container mx-auto flex justify-between mb-8">
    <div class="flex items-center">
      <img
        class="mr-3 w-50 h-50"
        src="assets/images/logo-secondary.svg"
        alt="logo secondary"
      />
      <span class="text-2xl">Coinflow</span>
    </div>
    <div class="grid grid-cols-3 gap-4">
      <button
        class="w-10 h-10 border text-slate-600 bg-white flex rounded-full hover:bg-slate-100 active:bg-slate-200"
      >
        <ng-icon size="20" class="m-auto" name="remixInstagramFill"></ng-icon>
      </button>
      <button
        class="w-10 h-10 border text-slate-600 bg-white flex rounded-full hover:bg-slate-100 active:bg-slate-200"
      >
        <ng-icon size="20" class="m-auto" name="remixTwitterFill"></ng-icon>
      </button>
      <button
        class="w-10 h-10 border text-slate-600 bg-white flex rounded-full hover:bg-slate-100 active:bg-slate-200"
      >
        <ng-icon size="20" class="m-auto" name="remixFacebookBoxFill"></ng-icon>
      </button>
    </div>
  </div>
  <div
    class="container mx-auto grid grid-cols-4 border-b border-slate-300 pb-10 mb-8"
  >
    @for (footer of footers; track $index) {
    <div>
      <h6 class="text-lg mb-4 text-slate-700">{{ footer.title }}</h6>
      <ul>
        @for (list of footer.list; track $index) {
        <li class="my-2">
          <a
            [routerLink]="list.link"
            href="javascript:void(0)"
            class="text-slate-400"
            >{{ list.label }}</a
          >
        </li>
        }
      </ul>
    </div>
    }
  </div>
  <div class="container mx-auto flex justify-between mb-8">
    <span class="text-slate-400"
      >&copy; UI Design By
      <a
        target="_blank"
        class="underline"
        href="https://dribbble.com/shots/24161085-CoinFlow-Cryptocurrency-Landing-Page"
        >Dipa UI/UX</a
      >
      &nbsp; | &nbsp; Code with ❤️ By :
      <a
        target="_blank"
        class="underline"
        href="https://www.linkedin.com/in/anas-nawawi/"
        >Anas Nawawi</a
      >
    </span>
    <div class="grid grid-cols-2 gap-4">
      <a href="javascript:void(0)" class="text-slate-400">Terms & Conditions</a>
      <a href="javascript:void(0)" class="text-slate-400">Privacy Policy</a>
    </div>
  </div>
</main>
