<div class="bg-white p-7 mt-40 ml-40 mr-14 mb-14 rounded-xl">
  <div class="flex justify-between">
    <div class="flex items-center">
      <img
        src="assets/images/user.jpg"
        class="w-14 h-14 object-cover rounded-full"
        alt="user"
      />
      <h6 class="ml-3 text-lg text-slate-600 mr-2">Savannah Nguyen</h6>
      <ng-icon
        size="20"
        class="text-slate-600"
        name="heroChevronDownSolid"
      ></ng-icon>
    </div>
    <button
      class="w-10 h-10 text-slate-400 bg-white flex rounded-full hover:bg-slate-100 active:bg-slate-200"
    >
      <ng-icon
        size="30"
        class="m-auto"
        name="heroEllipsisVerticalSolid"
      ></ng-icon>
    </button>
  </div>
  <div class="animate-pulse w-96">
    <div class="flex-1 space-y-4 py-3 mt-3">
      <div class="h-5 bg-slate-200 rounded"></div>
      <div class="grid grid-cols-2 gap-4">
        <div class="h-8 bg-slate-200 rounded"></div>
        <div class="h-8 bg-slate-200 rounded"></div>
      </div>
      <div class="h-8 bg-slate-200 rounded"></div>
    </div>
  </div>
  <hr class="flex-grow border-t border-slate-200 mt-3 mb-3" />
  <div class="animate-pulse h-11 bg-slate-200 rounded"></div>
  <button
    class="bg-primary border w-full text-lg mt-3 border-primary hover:bg-secondary text-white px-6 py-2.5 rounded-lg"
  >
    Trade Now
  </button>
</div>
