/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-Thin.otf");
	font-weight: 100;
	font-style: normal;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-ThinItalic.otf");
	font-weight: 100;
	font-style: italic;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-Light.otf");
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-LightItalic.otf");
	font-weight: 300;
	font-style: italic;
}

@font-face { 
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-Regular.otf");
    font-weight: 400;
	font-style: normal;
}

@font-face { 
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-RegularItalic.otf");
    font-weight: 400;
	font-style: italic;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-Medium.otf");
	font-weight: 500;
	font-style: normal;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-MediumItalic.otf");
	font-weight: 500;
	font-style: italic;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-Bold.otf");
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: "aeonik"; 
    src: url("../public/assets/fonts/Aeonik-BoldItalic.otf");
	font-weight: 700;
	font-style: italic;
}

.bg-pattern{
    background-color: #004442;
    opacity: 1;
    background-image: linear-gradient(#095754 1px, transparent 1px),
      linear-gradient(to right, #095754 1px, #004442 1px);
    background-size: 80px 80px;
}